<div class="container_w3s">    
  <a href="home.html">Home</a>
  <div class="dropdown_w3s">
    <button class="dropbtn_w3s">Dropdown</button>
    <div class="dropdown-content_w3s">
      <a href="leftsidebar.html">Left Sidebar</a>
      <a href="rightsidebar.html">Right Sidebar</a>
      <a href="nosidebar.html">No Sidebar</a>        
    </div>
  </div> 
  <a href="leftsidebar.html">Left Sidebar</a>
  <a href="rightsidebar.html">Right Sidebar</a>    
  <a href="nosidebar.html">No Sidebar</a>    
</div>